button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, .button, input[type="button"], input[type="reset"], input[type="submit"] {
    background-color: orange;
    border: 0;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 30px 11px;
    text-transform: uppercase;
    vertical-align: bottom;
}

audio, canvas, video {
    display: inline-block;
    max-width: 100%;
}
canvas.canvasdemo {
     border-bottom: black 1px solid; 
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#pejs-game-div {
    position: absolute;
    padding-top:180px;
    text-align: center;
    max-width: 600px;        
    /*border: red 1px solid; */
}